In [1]:
3 > 2

True

In [2]:
True and True

True

In [3]:
True and False

False

In [4]:
False and False

False

In [5]:
a = 1234

In [6]:
a > 1000 and a % 3 == 0

False

In [7]:
False or False

False

In [8]:
True or False

True

In [9]:
2 ** 20 > 1000000 or 2 ** 20 % 5 == 0

True

In [10]:
not True

False

In [11]:
not (2**20>1000000) or 2**20%5==0

False

In [12]:
not (not True and not True) and not (False or not True)

True

In [13]:
a=10
if a % 2 == 0:
    print("a jest parzysta")

a jest parzysta

In [14]:
if 1:
    print("ble")

ble

In [15]:
bool(1)

True

In [16]:
if "spam" != "eggs":
    spam = "eggs"
    eggs = "spam"
    if spam == "eggs":
        eggs = "eggs"
        spam = "spam"
        eggs = spam

In [17]:
a = 11
if a%2==0:
    print("bla")
    print("blabla")
    print("blablabla")
    
print("cośtam")

cośtam

In [18]:
tekst = "blablabla"

if tekst == "Ala ma kota":
    print("to świenie")
else:
    print("Ala nie ma kota")

Ala nie ma kota

In [19]:
a = 1012
if a % 2 == 0:
    print("jest parzyste")
else:
    print("jest nieparzyste")

jest parzyste

In [20]:
a = 123122
if a % 10 == 0:
    print("a jest podzielne przez 10")
elif a % 5 == 0:
    print("a jest podzielne przez 5")
elif a % 2 ==0:
    print("a nie dzieli się przez 10 ani przez 5 ale jest parzyste")
else:
    print("a nie dzieli się przez 10 ani przez 5 ani przez 2")

a nie dzieli się przez 10 ani przez 5 ale jest parzyste

In [21]:
imiona = ["Ania", "Basia", "Czesiu", "Franek", "Zenek"]

In [22]:
imiona

['Ania', 'Basia', 'Czesiu', 'Franek', 'Zenek']

In [23]:
imiona[2]

'Czesiu'

In [24]:
type(imiona)

list

In [25]:
imiona[0]

'Ania'

In [26]:
imiona [-1]

'Zenek'

In [27]:
imiona[0:3]

['Ania', 'Basia', 'Czesiu']

In [28]:
imiona[3:5]

['Franek', 'Zenek']

In [29]:
imiona.append("Kasia")
imiona.append("Zosia")

In [30]:
imiona

['Ania', 'Basia', 'Czesiu', 'Franek', 'Zenek', 'Kasia', 'Zosia']

In [31]:
imiona[2:5]

['Czesiu', 'Franek', 'Zenek']

In [32]:
imiona[1:3]

['Basia', 'Czesiu']

In [33]:
imiona[1:-1]

['Basia', 'Czesiu', 'Franek', 'Zenek', 'Kasia']

In [34]:
chłopy = imiona [2:5]

In [35]:
chłopy

['Czesiu', 'Franek', 'Zenek']

In [36]:
imiona [3:]

['Franek', 'Zenek', 'Kasia', 'Zosia']

In [37]:
imiona [:5]

['Ania', 'Basia', 'Czesiu', 'Franek', 'Zenek']

In [38]:
tekst = "ala ma kota"

In [39]:
tekst

'ala ma kota'

In [40]:
tekst [4:6]

'ma'

In [41]:
tekst [-1]

'a'

In [42]:
imiona.append("Grzesiu")

In [43]:
imiona

['Ania', 'Basia', 'Czesiu', 'Franek', 'Zenek', 'Kasia', 'Zosia', 'Grzesiu']

In [44]:
imiona.insert(1, "Grażyna")

In [45]:
imiona

['Ania',
 'Grażyna',
 'Basia',
 'Czesiu',
 'Franek',
 'Zenek',
 'Kasia',
 'Zosia',
 'Grzesiu']

In [46]:
len(imiona)

9

In [47]:
len(str(666))

3

In [48]:
len ("ala ma kota")

11

In [49]:
imiona.pop(4)

'Franek'

In [50]:
imiona

['Ania', 'Grażyna', 'Basia', 'Czesiu', 'Zenek', 'Kasia', 'Zosia', 'Grzesiu']

In [51]:
imiona.remove("Kasia")

In [52]:
imiona

['Ania', 'Grażyna', 'Basia', 'Czesiu', 'Zenek', 'Zosia', 'Grzesiu']

In [53]:
imiona.sort()

In [54]:
imiona

['Ania', 'Basia', 'Czesiu', 'Grażyna', 'Grzesiu', 'Zenek', 'Zosia']

In [55]:
liczby = [1,4,6,12,2,-1,-123,1000]

In [56]:
liczby

[1, 4, 6, 12, 2, -1, -123, 1000]

In [57]:
liczby.sort()

In [58]:
liczby

[-123, -1, 1, 2, 4, 6, 12, 1000]

In [59]:
imiona.reverse()

In [60]:
imiona

['Zosia', 'Zenek', 'Grzesiu', 'Grażyna', 'Czesiu', 'Basia', 'Ania']

In [2]:
twoje_imie = input("Jak masz na imię?")
print(twoje_imie)

Jak masz na imię? Patrycja

Patrycja

In [1]:
a=input ("Podaj liczbę")
a=int(a)

if a % 2 == 0:
    print("Jest parzyste")
else:
    print("Jest nieparzyste")

Podaj liczbę 12

Jest parzyste

In [3]:
lista = [1,2,3]
sum(lista)

6